* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: lightgoldenrodyellow;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 8% 100%;
  font-family: monospace;
}

.title-logo {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-content: center;
  border-bottom: solid 2px black;
  display: flex;
  flex-wrap: wrap;
  background-color: saddlebrown;
}

h1 {
  align-content: center;
  color: gold;
  font-weight: bold;
}

.cookie-logo {
  width: 40px;
  height: auto;
  display: flex;
}

.upgrade-logo {
  width: 40px;
  height: auto;
  display: flex;
}

#shop-container {
  background-color: lightsteelblue;
}

.upgrade-title {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

body {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  max-height: 92vh;
}

#cookie-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-top: 0.25rem;
  border-right: solid 1.5px black;
  display: flex;
  flex-direction: column;
}

#shop-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  max-height: 100vh;
  overflow: auto;
  padding-top: 0.25rem;
  border-left: solid 1.5px black;
}

#cookie-stats {
  text-align: center;
}

#cookie-img {
  display: flex;
  width: 300px;
  height: auto;
  cursor: pointer;
  align-self: center;
}

#shop-container h2 {
  text-align: center;
  padding-bottom: 0.5rem;
}

.shop-div {
  padding: 1rem;
  border-top: solid 2px black;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background-color: darkgrey;
}

.purchase-btn {
  cursor: pointer;
  width: 80px;
  height: 25px;
  font-family: monospace;
  background-color: green;
  color: white;
}

.purchase-btn:hover {
  background-color: white;
  color: green;
}

.not-enough-cookies {
  display: none;
  color: crimson;
  font-weight: bold;
}

@media (max-width: 600px) {
  #cookie-img {
    display: flex;
    width: 200px;
    height: auto;
    cursor: pointer;
    align-self: center;
  }

  .cookie-logo {
    width: 60px;
    height: auto;
    display: flex;
  }
}
